@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";
@import "assets/css/app/layout.scss";
// @import "primeicons/primeicons.css";
// @import "../node_modules/prismjs/themes/prism-coy.css";
// @import "assets/css/demo/flags.css";

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
